<nav class="responsive-nav">
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <div class="logo">
      <img src="/assets/img/movienightlogo.png" alt="">
    </div>
    <label for="menu-toggle" class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <div class="nav-links">
      <button class="close-button" (click)="closeMenu()">&times;</button>
      <ul>
        <li><a routerLink="/dashboard">HOME</a></li>
        <li><a routerLink="/play">PLAY</a></li>
        <li><a routerLink="/favorites">FAVORITES</a></li>
        <li><a routerLink="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
  