<div class="container">
    <img src="/assets/img/freeguy.jpg" alt="">
    <app-socialmedia></app-socialmedia>
    <header>
        <h1>Virtual Feast</h1>
        <p>Step into the world of flavors inspired by "Free Guy" and savor a feast of adventure</p>
    </header>
    <div class="course">
        <h2>Appetizer: Pixel Popcorn</h2>
        <p>Begin your virtual journey with a bowl of pixelated popcorn that's ready for action.</p>
    </div>
    <div class="course">
        <h2>Main Course: Avatar Burger</h2>
        <p>Feast on a burger that lets you customize your toppings just like your in-game avatar.</p>
    </div>
    <div class="course">
        <h2>Dessert: Code Crunch Sundae</h2>
        <p>Satisfy your sweet tooth with a sundae made from lines of code and deliciousness.</p>
    </div>
    <div class="course">
        <h2>Cocktail: Virtual Vibes Mixer</h2>
        <p>Mix up your taste buds with a cocktail that blurs the lines between reality and the digital world.</p>
    </div>
</div>
