<app-header></app-header>
<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Send us a film</h2>
                <p>Send us a movie proposal that you would like to see in our application!</p>
  
                <form>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Name of film"/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Director"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Date of film"/>
                  </div>
  
                  <textarea name="" id="" cols="30" rows="10" placeholder="Description of the film"></textarea>
    
                  <div class="d-flex justify-content-center">
                    <button type="button"
                      class="start-button" routerLink="">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<app-footer></app-footer>
