<div class="container">
    <img src="/assets/img/dungeons&dragons.jpg" alt="">
    <app-socialmedia></app-socialmedia>
    <header>
        <h1>Tavern Delight</h1>
        <p>Embark on a culinary adventure in the realm of Dungeons & Dragons and savor a feast of epic flavors.</p>
    </header>
    <div class="course">
        <h2>Appetizer: Dragon's Fire Wings</h2>
        <p>Ignite your taste buds with Dragon's Fire Wings, spicy and smoky, just like a dragon's breath.</p>
    </div>
    <div class="course">
        <h2>Main Course: Knight's Feast Platter</h2>
        <p>Indulge in a hearty platter fit for a knight, with tender roasted meats, roasted root vegetables, and savory gravies.</p>
    </div>
    <div class="course">
        <h2>Dessert: Enchanted Eclairs</h2>
        <p>Savor Enchanted Eclairs filled with magical creams and drizzled with sweet enchantments.</p>
    </div>
    <div class="course">
        <h2>Cocktail: Potion of Elixirs</h2>
        <p>Imbibe a Potion of Elixirs, a colorful and bubbling concoction that grants you temporary flavor-changing abilities.</p>
    </div>
</div>