.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
    img{
        width: 379px;
        height: 454px;
    }
}

header {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.course {
    border: 2px solid #ff69b4;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffe0f6;
}

h1 {
    color: #ff69b4;
}

h2 {
    color: #ff69b4;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.audio{
    img{
        width: 50px;
        height: 50px;
        margin:  -0.5rem 0 0 21rem;
    }
    
    .none{
        display: none;
    }

   
}


#heart{
    width: 25px;
    height: 25px;
    color: #ff0000;
    margin: -5rem 0 0 18rem;
}

.back{
    img{
        width: 20px;
        height: 20px;
    }
}