<div class="container">
    <img src="/assets/img/intime.jpg" alt="">   
        
        <app-socialmedia></app-socialmedia>
       
        <div class="audio">
           <a (click)="reproducir()"> 
            <img src="/assets/img/speaker.png" alt="Speaker">
            <img src="/assets/img/muted.png" alt="Muted">
        </a>
        <div class="favorite-container">
            <a><span class="iconify" id="heart" data-icon="solar:heart-broken"></span></a>            
        </div>        
        <audio class="none" controls src="assets/audio/Intime.mp3" type="audio/mp3">
            your browser does not support the audio element.
        </audio>
        </div> 
    <header>
        <h1>Time-Traveler's Feast</h1>
        <p>Experience a culinary journey through time with flavors inspired by "Intime"</p>
    </header>
    <div class="course">
        <h2>Appetizer: Temporal Tidbits</h2>
        <p>Indulge in bites of the past and future with a platter of temporal tidbits.</p>
    </div>
    <div class="course">
        <h2>Main Course: Quantum Pasta</h2>
        <p>Enjoy a plate of pasta intertwined with flavors from different eras, creating a fusion of taste.</p>
    </div>
    <div class="course">
        <h2>Dessert: Eternity Éclair</h2>
        <p>Savor a light éclair filled with sweet memories and a touch of timeless chocolate.</p>
    </div>
    <div class="course">
        <h2>Cocktail: Chrono Cooler</h2>
        <p>Quench your thirst with a mesmerizing cocktail that swirls colors and flavors from different epochs.</p>
    </div>
