.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    img{
        width:379px;
        height: 454px;
    }
    .container {
       
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            font-family: 'Comfortaa', cursive;
            
        }
        
        header {
            margin-top: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .course {
            border: 2px solid #32cd32;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #e0ffe0;
        }
        
        h1 {
            color: #32cd32;
        }
        
        h2 {
            color: #32cd32;
            margin-bottom: 10px;
        }
        
        p {
            margin-bottom: 10px;
        }
        
    }
    
    header {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .course {
        border: 2px solid #32cd32;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #e0ffe0;
    }
    
    h1 {
        color: #32cd32;
    }
    
    h2 {
        color: #32cd32;
        margin-bottom: 10px;
    }
    
    p {
        margin-bottom: 10px;
    }
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.course {
    border: 2px solid #32cd32;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e0ffe0;
}


h1 {
    color: #32cd32;
}

h2 {
    color: #32cd32;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.speaker{
    img{
        width: 50px;
        height: 50px;
    }
}

.iconify{
    width: 25px;
    height: 25px;
    margin: 5px;
}