<app-header></app-header>

    <section class="HowtoPlay">
      <ol>
        <li>Start the game: Once you enter the game, simply press the "Start" button on the dashboard to start the fun.</li>
        <li>Explore new movies: As you play, you will discover movies from different genres and eras. 
            Don't forget to check out our movie suggestions on the dashboard to expand your film knowledge!</li>
      </ol>
    </section>
    <button class="start-button" routerLink="/play">Start Game</button>
  <app-footer></app-footer>