.start-button {
    background: rgb(57,72,103);
    background: linear-gradient(0deg, rgba(57,72,103,0.53) 0%, rgba(57,72,103,0.86) 100%);
    color: #fff;
    border: none;
    margin-left: 9rem;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Cinzel', serif;
}
  
.start-button:hover {
    background-color: #8dafd3;
  }

.HowtoPlay{
    border: 1px solid #000;
    border-radius: 27px ;
    margin: 2rem 0 5rem 3.5rem;
    font-family: 'Comfortaa', cursive;
    width: 323px;
    height: 391px;

    ol, li{
        margin-top: 3rem;
    }
}

@media (min-width:1024px) {
    .HowtoPlay{
        margin-left: 21rem;
    }

    .start-button{
      margin-left: 27rem;
    }
    

}