<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">MovieNight</div>
        <div class="footer-links">
          <a routerLink="/dashboard">HOME</a>
          <a routerLink="/play">PLAY</a>
          <a routerLink="/favorite">FAVORITE</a>
          <a routerLink="/contact">CONTACT</a>
          <a routerLink="/login">LOGOUT</a>
        </div>
      </div>
      <p class="footer-text">&copy; 2023 MovieNight, created by Ana Rodriguez Pérez.</p>
    </div>
  </footer>
  